body {
  margin: 0;
}

header {
  font-family: "Indie Flower", cursive;
  color: #fc784f;
  text-align: center;
  font-size: 20px;
}

.menu li a {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.menu {
  font-size: 15px;
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

a {
  display: inline-block;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
}

.menu li {
  display: inline-block;
}

.enlaces {
  width: 100%;
  height: 400px;
  position: relative;
  display: inline-block;
}

.enlaces a {
  color: black;
  background-color: white;
}

.enlaces img {
  border-radius: 60px;
  padding: 30px;
  width: 400px;
  height: 250px;
}

button {
  width: 125px;
  height: 23px;;
  border: none;
  border-radius: 10px;
  background-color: #fc784f;
  position: absolute;
  left: 80%;
  top: 40%;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
}
.recipes .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipes .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipes .button input {
  border-radius: 5px;
  background-color: #ffb6c1;
  border: 1px solid #ffb6c1;
  font-size: 15px;
  font-family: "IBM Plex Mono", monospace;
}

.recipe-1 .article-info {
  display: flex;
  justify-content: space-around;
  color: #808080;
}
.recipe-1 .article-info .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-1 .article-info .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-1 hgroup h2 {
  color: #808080;
}

.recipe-2 {
  display: none;
}

.profile {
  font-family: "IBM Plex Mono", monospace;
}
.profile figure {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;
  margin: auto;
}
.profile figure img {
  width: 100%;
  border-radius: 50%;
}
.profile hgroup {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile hgroup h2 {
  color: #808080;
}

.articles-titles {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: center;
}
.articles-titles span {
  width: 80%;
  background-color: #ffb6c1;
  display: flex;
  justify-content: center;
}

.networks {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #808080;
}
.networks i {
  color: #808080;
  margin: 20px;
  width: 30px;
}
.networks .network {
  margin: 20px;
  color: #808080;
}
.networks a {
  text-decoration: none;
}

.arrows {
  display: flex;
  justify-content: center;
}
.arrows i {
  font-size: 40px;
  padding: 5px;
  color: #ffffff;
  border-radius: 100%;
  background-color: #fc784f;
}

@media (min-width: 800px) {
  .recipes {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .recipe-2 .article-info {
    display: flex;
    justify-content: space-around;
    color: #808080;
  }
  .recipe-2 .article-info .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recipe-2 .article-info .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recipe-2 hgroup h2 {
    color: #808080;
  }
}

/*# sourceMappingURL=styles.css.map */
