* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
header h1 {
  color: #fc784f;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
}
header nav {
  font-family: "IBM Plex Mono", monospace;
}

nav .desktop {
  display: none;
}
nav .mobile {
  width: 500px;
  height: 30px;
  background-color: #fc784f;
  border-radius: 5px;
  margin: 20px;
  font-family: "IBM Plex Mono", monospace;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
nav .mobile ul {
  height: 15px;
  display: flex;
  list-style: none;
}
nav .mobile ul li {
  margin: 10px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.menu {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.menu li ul {
  display: none;
}

.dropdown:hover {
  cursor: pointer;
  color: #000000;
}
.dropdown:hover ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
}
.dropdown:hover ul li {
  color: #ffffff;
  background-color: #fc784f;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 0;
}

img {
  width: 100%;
}

.content-img {
  display: none;
}

iframe {
  display: none;
}

.triple-container {
  margin: 15px;
}

section {
  margin: 50px 20px 20px 20px;
}

.profile-recipes {
  display: flex;
  flex-direction: column-reverse;
}

.profile {
  font-family: "IBM Plex Mono", monospace;
}
.profile figure {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 250px;
  margin: auto;
}
.profile figure img {
  width: 100%;
  border-radius: 50%;
}
.profile hgroup {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.profile hgroup h1 {
  font-size: 20px;
  margin: 10px 0px;
}
.profile hgroup h2 {
  color: #808080;
  font-size: 15px;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "IBM Plex Mono", monospace;
}
.recipes article figure {
  display: none;
}
.recipes .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-content: center;
}
.recipes .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5px;
}
.recipes .button input {
  border-radius: 5px;
  padding: 5px;
  width: 120px;
  height: 35px;
  background-color: #ffb6c1;
  border: 1px solid #ffb6c1;
  font-size: 15px;
  font-family: "IBM Plex Mono", monospace;
}

.articles-titles {
  font-family: "IBM Plex Mono", monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}
.articles-titles span {
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ffb6c1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.recipe-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-1 .article-info {
  display: flex;
  justify-content: space-between;
  color: #808080;
  font-size: 15px;
  margin: 10px 0px;
}
.recipe-1 .article-info .posted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.recipe-1 .article-info .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.recipe-1 hgroup h1 {
  font-size: 20px;
  margin: 10px 0x;
}
.recipe-1 hgroup h2 {
  color: #808080;
  font-size: 15px;
  margin: 10px 0x;
}

.recipe-2 {
  display: none;
}

.networks {
  display: flex;
  justify-content: space-around;
  height: 40px;
  border-bottom: 1px solid #808080;
}
.networks i {
  color: #808080;
  width: 30px;
}
.networks .network {
  color: #808080;
  display: none;
  margin: 20px;
  width: 20px;
}
.networks a {
  text-decoration: none;
}

.arrows {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
  margin-right: 12px;
}
.arrows i {
  font-size: 30px;
  padding: 5px;
  color: #ffffff;
  border-radius: 100%;
  background-color: #fc784f;
}

@media (min-width: 800px) {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  ul li {
    margin: 5px;
    text-align: center;
  }
  ul li a {
    text-decoration: none;
    color: #666;
    font-size: 10px;
  }

  .submenu li {
    display: none;
  }

  header nav div ul li a:hover {
    background-color: #808080;
  }

  nav ul.menu li:hover > ul.submenu {
    display: flex;
  }

  .image {
    position: relative;
    overflow: hidden;
  }
  .image .content-img {
    background-color: rgba(200, 0, 0, 0);
    height: 50%;
    margin: 0;
    margin-top: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .image .content-img span {
    opacity: 0;
  }
  .image .content-img figcaption {
    opacity: 0;
  }

  .image:hover .content-img {
    background: rgba(219, 71, 12, 0.356);
  }

  .image:hover .content-img span {
    opacity: 1;
    transition: all 400ms;
  }

  .image:hover .content-img figcaption {
    opacity: 1;
    transition: all 400ms;
  }

  .content-img {
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  .content-img span {
    margin: 20px;
    font-size: 15px;
    margin-top: 40px;
  }
  .content-img figcaption {
    margin: 10px;
    font-size: 20px;
    font-family: "IBM Plex Mono", monospace;
  }

  .recipes {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .recipes article figure {
    display: flex;
  }

  .recipe-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recipe-2 .article-info {
    display: flex;
    justify-content: space-between;
    color: #808080;
    font-size: 15px;
    margin: 10px 0px;
  }
  .recipe-2 .article-info .posted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .recipe-2 .article-info .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .recipe-2 hgroup h1 {
    font-size: 20px;
    margin: 10px 0x;
  }
  .recipe-2 hgroup h2 {
    color: #808080;
    font-size: 15px;
    margin: 10px 0x;
  }

  .networks i {
    height: 50px;
  }
  .networks .network {
    display: block;
    display: contents;
  }

  .arrows {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
