$white: #ffffff;
$black: #000000;
$title-font: "Indie Flower", cursive;
$title-color: #fc784f;
$navbar-color: #666;
$recipes-font: "IBM Plex Mono", monospace;
$button-color: #ffb6c1;
$info-color: #808080;
$hovr-color: #fa906f;

@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@mixin column {
  display: flex;
  flex-direction: column;
}
@mixin jc-center {
  display: flex;
  justify-content: center;
}
@mixin jc-ac-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
@mixin jc-space-around {
  display: flex;
  justify-content: space-around;
}
@mixin jc-space-bt {
  display: flex;
  justify-content: space-between;
}
@mixin article-styles {
  .article-info {
    @include jc-space-around();
    color: $info-color;
    .date {
      @include column-center();
    }
    .social {
      @include column-center();
    }
  }
  hgroup {
    h2 {
      color: $info-color;
    }
  }
}

* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
header {
  @include column-center();
  h1 {
    color: $title-color;
    font-family: $title-font;
    font-size: 30px;
  }
  nav {
    font-family: $recipes-font;
  }
}

nav {
  .desktop {
    display: none;
  }
  .mobile {
    width: 500px;
    height: 30px;
    background-color: $title-color;
    border-radius: 5px;
    margin: 20px;
    font-family: $recipes-font;
    color: #ffffff;
    @include jc-ac-center();
    align-items: center;
    ul {
      height: 15px;
      display: flex;
      list-style: none;
      li {
        margin: 10px;
      }
    }
  }
}
ul {
  li {
    a {
      text-decoration: none;
      color: $white;
      font-size: 20px;
    }
  }
}
.menu {
  margin: 0;
  @include jc-ac-center();
  li {
    ul {
      display: none;
    }
  }
}
.dropdown:hover {
  cursor: pointer;
  color: $black;
  ul {
    @include column();
    justify-content: start;
    position: absolute;
    li {
      color: $white;
      background-color: $title-color;
      width: 100px;
      height: 30px;
      padding: 5px;
      margin: 0;
    }
  }
}

// estilos desde carousel hasta "newsletter" //

.profile {
  font-family: $recipes-font;
  figure {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    margin: auto;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  hgroup {
    @include column();
    text-align: center;
    h2 {
      color: $info-color;
    }
  }
}

.recipes {
  @include column-center();
  font-family: $recipes-font;
  .article {
    @include column-center();
  }
  .button {
    @include column-center();
    input {
      border-radius: 5px;
      background-color: $button-color;
      border: 1px solid $button-color;
      font-size: 15px;
      font-family: $recipes-font;
    }
  }
}

.articles-titles {
  font-family: $recipes-font;
  @include jc-center();
  span {
    width: 80%;
    background-color: $button-color;
    @include jc-center();
  }
}

.recipe-1 {
  @include article-styles();
}
.recipe-2 {
  display: none;
}

.networks {
  @include jc-space-around();
  height: 40px;
  border-bottom: 1px solid $info-color;
  i {
    color: $info-color;
    // margin: 0px;
    width: 30px;
  }
  .network {
    color: $info-color;
    display: none;
    margin: 20px;
    width: 20px;
  }
  a {
    text-decoration: none;
  }
}

.arrows {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
  margin-right: 12px;
  i {
    font-size: 30px;
    padding: 5px;
    color: #ffffff;
    border-radius: 100%;
    background-color: $title-color;
  }
}

@media (min-width: 800px) {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
      margin: 5px;
      text-align: center;
      a {
        text-decoration: none;
        color: $navbar-color;
        font-size: 10px;
      }
    }
  }
  .submenu {
    li {
      display: none;
    }
  }

  header nav div ul li a:hover {
    background-color: $info-color;
  }

  // CHEQUEAR
  nav ul.menu li:hover > ul.submenu {
    display: flex;
  }

  .content-img {
    position: relative;
    overflow: hidden;
  }
  // .content-1 {
  //   width: 600px;
  //   height: 300px;
  //   position: absolute;
  //   background: rgba(219, 71, 12, 0.356);
  //   top: 0;
  //   margin-top: 100%;
  // }
  .content-img:hover .content-1 {
    margin-top: 75%;
    transition: all 300ms;
  }
  // .content-txt {
  //   position: absolute;
  //   top: 0;
  //   margin-top: 820px;
  //   padding: 10px;
  //   z-index: 10;
  //   color: $white;
  // }

  // .content-txt span {
  //   opacity: 0;
  //   font-size: 10px;
  // }
  // .content-txt figcaption {
  //   opacity: 0;
  //   font-family: "IBM Plex Mono", monospace;
  // }

  .content-img:hover span {
    opacity: 10;
    transition: all 400ms;
  }

  .content-img:hover figcaption {
    opacity: 10;
    transition: all 400ms;
  }

  .recipes {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .recipe-2 {
    @include article-styles();
  }
  .networks {
    display: flex; 
    height: 60px;
    border-bottom: 1px solid;
    i {
      margin-top: 40px;  
    }
    .network {
      display: block;
      display: contents;
    }
  }
  .arrows {
    display: none;
  }
}
