$white: #ffffff;
$black: #000000;
$title-font: "Indie Flower", cursive;
$title-color: #fc784f;
$navbar-color: #666;
$recipes-font: "IBM Plex Mono", monospace;
$button-color: #ffb6c1;
$info-color: #808080;
$hovr-color: #fa906f;

@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@mixin column {
  display: flex;
  flex-direction: column;
}
@mixin jc-center {
  display: flex;
  justify-content: center;
}
@mixin jc-ac-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
@mixin jc-space-around {
  display: flex;
  justify-content: space-around;
}
@mixin jc-space-bt {
  display: flex;
  justify-content: space-between;
}
<<<<<<< HEAD
=======
@mixin recipe-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  .article-info {
    @include jc-space-bt();
    color: $info-color;
    font-size: 15px;
    margin: 10px 0px;
    .posted {
      @include column-center();
    }
    .social {
      @include column-center();
    }
  }
  hgroup {
    h1 {
      font-size: 20px;
      margin: 10px 0x;
    }
    h2 {
      color: $info-color;
      font-size: 15px;
      margin: 10px 0x;
    }
  }
}
>>>>>>> 93f850226702875baddde22883d7626addadb22b

* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
header {
  @include column-center();
  h1 {
    color: $title-color;
    font-family: $title-font;
    font-size: 30px;
  }
  nav {
    font-family: $recipes-font;
  }
}

nav {
  .desktop {
    display: none;
  }
  .mobile {
    width: 500px;
    height: 30px;
    background-color: $title-color;
    border-radius: 5px;
    margin: 20px;
    font-family: $recipes-font;
    color: #ffffff;
    @include jc-ac-center();
    align-items: center;
    ul {
      height: 15px;
      display: flex;
      list-style: none;
      li {
        margin: 10px;
      }
    }
  }
}
ul {
  li {
    a {
      text-decoration: none;
      color: $white;
      font-size: 20px;
    }
  }
}
.menu {
  margin: 0;
  @include jc-ac-center();
  li {
    ul {
      display: none;
    }
  }
}
.dropdown:hover {
  cursor: pointer;
  color: $black;
  ul {
    @include column();
    justify-content: start;
    position: absolute;
    li {
      color: $white;
      background-color: $title-color;
      width: 100px;
      height: 30px;
      padding: 5px;
      margin: 0;
    }
  }
}

// estilos desde carousel hasta "newsletter" //

img {
  width: 100%;
}
.content-img{
  display: none;
}
iframe {
  display: none;
}

// estilos desde carousel hasta "newsletter" //
.triple-container {
  margin: 15px;
}
section {
  margin: 50px 20px 20px 20px;
}
.profile-recipes {
  display: flex;
  flex-direction: column-reverse;
}
.profile {
  font-family: $recipes-font;
  figure {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 250px;
    margin: auto;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  hgroup {
    @include column();
    text-align: center;
    margin-top: 20px;
    h1 {
      font-size: 20px;
      margin: 10px 0px;
    }
    h2 {
      color: $info-color;
      font-size: 15px;
    }
  }
}

.recipes {
  @include column-center();
  font-family: $recipes-font;
  article {
    figure {
      display: none;
    }
  }
}
.recipe-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-text{  
  .article-info {
    width: 100%;
    @include jc-space-bt();
    color: $info-color;
    font-size: 15px;
    margin: 10px 0px;
    .posted {
      @include jc-ac-center();
      width: 180px;
    }
    .social {
      @include jc-center();
      text-align: center;
      width: 80px;
    }
  }  
  .article {
    @include column();
    text-align: center;
    margin-top: 20px;
    .recipe-title {
      font-size: 20px;
      margin: 10px 0px;
    }
    .recipe-presentation {
      color: $info-color;
      font-size: 15px;
      margin: 10px 0px;
    }
  }
  .button {
    @include jc-ac-center();
    margin: 5px;
    input {
      border-radius: 5px;
      padding: 5px;
      width: 120px;
      height: 35px;
      background-color: $button-color;
      border: 1px solid $button-color;
      font-size: 15px;
      font-family: $recipes-font;
    }
  }
}

.recipe-2 {
  display: none;
}

.articles-titles {
  font-family: $recipes-font;
  margin-top: 20px;
  margin-bottom: 20px;
  span {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: $button-color;
    @include jc-ac-center();
    align-items: center;
  }
}

.networks {
  @include jc-space-around();
  height: 40px;
  border-bottom: 1px solid $info-color;
  i {
    color: $info-color;
    // margin: 0px;
    width: 30px;
  }
  .network {
    color: $info-color;
    display: none;
    margin: 20px;
    width: 20px;
  }
  a {
    text-decoration: none;
  }
}

.arrows {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
  margin-right: 12px;
  i {
    font-size: 30px;
    padding: 5px;
    color: #ffffff;
    border-radius: 100%;
    background-color: $title-color;
  }
}

@media (min-width: 800px) {
  nav .mobile  {
    display: none;
  }

  header {
    font-family: "Indie Flower", cursive;
    color: orange;
    font-size: 50px;
    text-align: center;
  }

<<<<<<< HEAD

@media (min-width: 800px){
  ul {
    list-style: none;
=======
  nav {
    overflow: hidden;
    .desktop {
>>>>>>> 93f850226702875baddde22883d7626addadb22b
    display: flex;
      .menu_main {
        list-style: none;
        display: flex;
        width: 100%;
      }
    }
  }
  
  ul{
    list-style: none;
  }
    .menu_main {
      li {
        width: 100%;
        text-align: center;
        a {
          font-size: 20px;
          font-family: "IBM Plex Mono", monospace;
          font-weight: bold;
          color: #6C6A6A;
          text-decoration: none;
          text-align: center;
        
        }
      }
    }
    
    .submenu {
      list-style: none;
      position: absolute;
      background-color: #F8F3F2;
      width: 250px;
      height: 250px;
      margin-top: 10px;
      display: none;
      margin-left: 10px;
      // li {
       
      //   a {
      //     text-decoration: none;
      //     font-family: "IBM Plex Mono", monospace;
      //     font-size: 20px;
      //     font-weight: bold;
      //     color: #6C6A6A;
        
      //   }
      // }
    }

  .submenu > li > a{
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    color: #6C6A6A;

  }

  nav .desktop .menu_main>li:hover, nav .desktop .menu_main>li>.submenu>li:hover {
      cursor: pointer;
  }

<<<<<<< HEAD
=======
  nav .desktop .menu_main>li:hover>.submenu {
      display: block;
  }
>>>>>>> 93f850226702875baddde22883d7626addadb22b

  nav .desktop .menu_main>li>.submenu>li {
      padding: 1em;
  }


  .carousel {
      margin: 0;
      width: 100%;
      display: flex;
  }

  .carousel img {
      width: 335px;
      height: 500px;
      margin: 0%;
      padding: 1px;
      justify-content: space-around;
  }

  .enlaces {
    display: flex;
    .recipe-photo {
      a{
        text-decoration: none;
      }
      img {
        width: 360px;
        height: 270px;
        display: flex;
        border-radius: 50px;
        /* position: relative; */
      figcaption {
        background-color: white;
        
      }
    button{
      border-radius: 5px;
      display: flex;
      left: 1000px;
      bottom: 50%;
      font-family: "IBM Plex Mono", monospace;
      background-color: #D9560A;
      border: 0;
      border-radius: 15px;
      width: 170px;
        /* height: 26px;
        position: absolute;
          float: center; */
      }
      }
    }
  }

  


  // --------
  // ul {
  //   list-style: none;
  //   display: flex;
  //   justify-content: space-around;
  //   li {
  //     margin: 5px;
  //     text-align: center;
  //     a {
  //       text-decoration: none;
  //       color: $navbar-color;
  //       font-size: 10px;
  //     }
  //   }
  // }
  // .submenu {
  //   li {
  //     display: none;
  //   }
  // }

  // header nav div ul li a:hover {
  //   background-color: $info-color;
  // }

  // // CHEQUEAR
  // nav ul.menu li:hover > ul.submenu {
  //   display: flex;
  // }

  .image {
    position: relative;
    overflow: hidden;
    .content-img {
      background-color: rgba(200, 0, 0, 0);
      height: 50%;
      margin: 0;
      margin-top:100%;
      position: absolute;
      top: 0;
      width: 100%;
      span {
        opacity: 0;
      }
      figcaption {
        opacity: 0;
      }
    }
  }

  .image:hover .content-img {
    background: rgba(219, 71, 12, 0.356);
  }
  .image:hover .content-img span {
    opacity: 1;
    transition: all 400ms;
  }

  .image:hover .content-img figcaption {
    opacity: 1;
    transition: all 400ms;
  }
  .content-img{
    color: $white;
    @include column();
    span{
      margin: 20px;
      font-size: 15px;
      margin-top: 40px;
    }
    figcaption{
      margin: 10px;
      font-size: 20px;
      font-family: $recipes-font;
    }
  }

  .triple-container{
    display: flex;
  }
  .video{
    display: flex;
  }
  
  
  
  
  
  
  
  .recipes {
    width: 60%;
  }
  .recipe-1 { 
    display: flex; 
    flex-direction: row; 
    border-top: 1px solid $info-color;
    .recipe-image{
      display: flex;
      width: 50%;
      height: 150px;
      img{
        border-radius: 40px;
      }
    }
  }
  .recipe-text{
    width: 70%;
<<<<<<< HEAD
    margin: 20px;
  }
  .article-info {
    width: 100%;
    color: $info-color;
    font-size: 10px;
    margin: 10px 0px;
    display: flex;
    .posted{
      display: flex;
      justify-content: start;
    }
  }  
  .recipe-2 { 
    display: flex; 
    flex-direction: row; 
    border-top: 1px solid $info-color;
    .recipe-image{
      display: flex;
      width: 50%;
      height: 150px;
      img{
        border-radius: 40px;
=======
    article {
      figure {
        display: flex;
>>>>>>> 93f850226702875baddde22883d7626addadb22b
      }
    }
  }
  .recipe-text {
    width: 70%;
    margin: 20px;
    .article-info {
    width: 100%;
    color: $info-color;
    font-size: 10px;
    margin: 10px 0px;
    display: flex;
    .posted{
      display: flex;
      justify-content: start;
    }
    }
  }  
  .article {
    @include column();
    align-items: start;
    margin: 0px;
    .recipe-title{
      font-size: 12px;
      margin: 5px 20px;
    }
    .recipe-presentation {
      text-align: start;
      color: $info-color;
      font-size: 9px;
      margin: 5px 0px;
    }
  }
  .button {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 20px 0px;
    input {
      border-radius: 5px;
      padding: 5px;
      width: 90px;
      height: 30px;
      background-color: $button-color;
      border: 1px solid $button-color;
      font-size: 10px;
      font-family: $recipes-font;
    }
  }
<<<<<<< HEAD
  .network {
    display: block;
=======





  
  .networks {
    // height: 60px;
    i {
      height: 50px;
    }
    .network {
      display: block;
      display: contents;
    }
>>>>>>> 93f850226702875baddde22883d7626addadb22b
  }
  .arrows {
    display: none;
  }

}