@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin column {
  display: flex;
  flex-direction: column;
}
@mixin jc-center {
  display: flex;
  justify-content: center;
}
@mixin jc-space-around {
  display: flex;
  justify-content: space-around;
}
@mixin article-styles {
  .article-info {
    @include jc-space-around();
    color: $info-color;
    .date {
      @include column-center();
    }
    .social {
      @include column-center();
    }
  }
  hgroup {
    h2 {
      color: $info-color;
    }
  }
}

$title-font: "Indie Flower", cursive;
$title-color: #fc784f;
$navbar-color: #666;
$recipes-font: "IBM Plex Mono", monospace;
$button-color: #ffb6c1;
$info-color: #808080;
*{
  padding: 0px;
}
body {
  margin: 0;
}
header{
  @include column-center();
  h1{
    font-family: $title-font;
    color: $title-color;
    font-size: 30px;
  }
  nav{
    font-family: $recipes-font;
    
  }
}


section {
  margin: 10px;
}
.recipes {
  @include column-center();
  font-family: $recipes-font;
  .article {
    @include column-center();
  }
  .button {
    @include column-center();
    input {
      border-radius: 5px;
      background-color: $button-color;
      border: 1px solid $button-color;
      font-size: 15px;
      font-family: $recipes-font;
    }
  }
}
nav{
  .desktop{
    display: none;
  }
  .mobile{
    width: 500px;
    background-color: $title-color;
    border-radius: 5px;
    margin: 20px;
    font-family: $recipes-font;
    color: #ffffff;
    @include jc-center();
    align-content: center;
    ul{
      height: 15px;
      display: flex;
      list-style: none;
      li{
        margin: 10px;
      }
    }
  }
}


.recipe-1 {
  @include article-styles();
}
.recipe-2 {
  display: none;
}
.profile {
  font-family: $recipes-font;
  figure {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    margin: auto;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  hgroup {
    @include column();
    text-align: center;
    h2 {
      color: $info-color;
    }
  }
}
.articles-titles {
  font-family: $recipes-font;
  @include jc-center();
  span {
    width: 80%;
    background-color: $button-color;
    @include jc-center();
  }
}

.networks {
  @include jc-space-around();
  border-bottom: 1px solid $info-color;
  i {
    color: $info-color;
    margin: 20px;
    width: 30px;
  }
  .network {
    margin: 20px;
    color: $info-color;
  }
  a {
    text-decoration: none;
  }
}

.arrows {
  display: flex;
  justify-content: center;
  i {
    font-size: 40px;
    padding: 5px;
    color: #ffffff;
    border-radius: 100%;
    background-color: $title-color;
  }
}
@media (min-width 800px) {
  ul{
    list-style: none;     
    display: flex;
    justify-content: space-around; 
    li{
      margin: 5px;
      text-align: center;
      a{
        text-decoration: none;
        color: $navbar-color;
        font-size: 10px;
      }
    }
  }
  .submenu{
    li{
      display: none;
    }
  }
  
  header nav div ul li a:hover{
    background-color: $info-color;
  }
  
  // CHEQUEAR
  nav ul.menu li:hover > ul.submenu{
    display: flex;
  }
  .recipes {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .recipe-2 {
    @include article-styles();
  }
}

header {
    width: 100%;
    height: 100px;
    text-align: center;
}

nav {
    width: 100%;
    height: 30px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: relative;
}

.menu li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.menu li a:hover {
    transition: all .3s;
}

.submenu {
    position: absolute;
}

.submenu li a {
    display: block;
    padding: 15px;
}
